body
{
    background-color: #F9EBC8;
    color:#181D31;
}
#menu
{
    list-style-type: none;
    
    list-style-position: inside;
    width: 936px;
    height: 80px;
    padding: 0px;
    margin: auto;
    right: 0;
    left: 0;
    overflow: hidden;
    background-color:#A0BCC2;
    
}
#menubaslıgı
{
    float:left;
    padding-left: 6%;
    padding-top: 2%;
}

#menubaslıgı a 
{
    display: block;
    padding: 12px 25.64px;
    background-color:#A0BCC2;
    color: white;
}

#menubaslıgı a:hover
{
    background-color: #789395;
}

#container
{
    margin-left: 33%;
    border: 3px solid #789395;
    margin-top: 10px;
    padding: 10px;
    width: 600px;
    height: 850px;
    text-align: justify;
    overflow-y: scroll;
    
}

.ilkparagraf
{
    word-spacing: 5px;

    font-size: 20px;
}

#hobisirasi
{
    word-spacing: 5px;
    font-size: 20px;
}

#h1miras
{
    text-align: center;
}

#pmiras
{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 20px;
    word-spacing: 5px;
}

#hözgeçmis
{
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 1.5px;
}

#aözgeçmis
{
    text-decoration: none;

}

#liözgeçmis
{
    list-style: none;
    display: block;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    word-spacing: 5px;
}

#olözgeçmis
{
    list-style-position:inside ;
    text-align: center;
    font-size: 20px;
    word-spacing: 5px;
    line-height: 30px;
}

#hsehrim    
{
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 1.5px;

}

#psehrim
{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 20px;
    word-spacing: 5px;
}

#imgsehrim
{   
    width: 800px;
    height: 600px;
    
}

#imglisehrim
{
    text-align: center;
    list-style: none;
    position: absolute;
}

.slider-tasıma
{
    width: 800px;
    height: 600px;
    border: 5px solid red;
    margin: auto;
    position: relative;
}

.slider-tasıma ul
{
    padding: 0%;
    margin: 0%;
}

.slider-tasıma ul li :nth-of-type(1)
{
    left: 0px;
}

.slider-tasıma ul li :nth-of-type(2)
{
    left: 1010px;
}

.slider-tasıma ul li :nth-of-type(3)
{
    left: 2020px;
}

.slider-tasıma ul li :nth-of-type(4)
{
    left: 3030px;   
}

#hilgialanlarım
{
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 1.5px;
}

#olilgialanlarım
{
    list-style-position:inside ;
    text-align: center;
    font-size: 20px;
    word-spacing: 5px;
    line-height: 30px;
}